.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*top: calc(100vh/2 - 250px);*/
    /*left: calc(100vw/2 - 250px);*/
    /*width: 500px;*/
    /*height: 500px;*/
    background-color: rgba(0, 0, 0, 0.2);
    animation: show 0.7s;
}
.popup-hidden {
    animation: hidden 0.7s;
}
.popup__content {
    position: absolute;
    top: calc(100vh/2 - 250px);
    left: calc(100vw/2 - 250px);
    /*width: 500px;*/
    /*height: 500px;*/
    background-color: rgba(224, 223, 223, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_close {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    background-image: url("img/closed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
    border-radius: 5px;
}
.popup__price {
    margin: 20px;
    margin-top: 40px;
    font-family: 'Courier', monospace;
    font-size: 2rem;
    border: 3px solid #000000;
    background-color: rgba(212, 212, 212, 0.26);
}
tbody:nth-child(2) {
    background-color: rgb(226, 194, 32);
    font-size: 2.3rem;
    font-weight: 700;
}
tbody:last-child {
    background-color: rgba(226, 194, 32, 0.16);
    font-size: 2.2rem;
    font-weight: 700;
}
.popup__price > caption {
    font-size: 3rem;
    font-weight: 700;
}
td, th {
    padding: 4px;
    border: 2px solid #4c4c4c;
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes hidden {
    0% { opacity: 1; }
    100% { opacity: 0; }
}