@import url(reset.css);
main {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
.constructor__components {
    /*filter: grayscale(100%);*/
}
.constructor-components__item, .constructor-components__item-pizza {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, red, transparent);
    border-radius: 50%;
}
.constructor__pizza {
    width: 300px;
    height: 300px;
    /*background: radial-gradient(closest-side circle at center, #c9c296 80%, #867b55 90%, #b8a94f 100%);*/
    border-radius: 50%;
    position: relative;
    background-image: url("img/testo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.constructor-pizza__list {
    width: 100%;
    height: 100%;
}
